.App {
    text-align: center;
}
.transport-container {
    display: flex;
    flex-flow: column;
    margin: 0;
    align-items: center;
}
    .transport {
        background: grey;
        display: flex;
        flex-flow: row;
        justify-content: center;
        margin: 0;
        padding: 5px;
    }
        .transport div {
            background: rgb(191, 191, 212);
            padding: 20px;
            margin: 0 1px;
            line-height: 1;
            font-size: 40px;
            height: inherit;
        }
        .transport .stop {
            font-size: 35px;
            margin: 0;
        }
        .play-pause span {
            /* padding: 0; */
            font-size: 35px;
        }
            .transport .play {
                margin-top: -5px;
                /* font-size: 35px; */
            }

nav {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
    nav .toggle {
        display: flex;
        flex-flow: row;
    }
    .title, nav .toggle div {
        padding: 10px;
    }

.step-pattern {
    display: flex;
    flex-flow: column;
    align-items: center;
}
    .instrument-container {
        display: flex;
        flex-flow: row;
        align-items: center;
        padding: 1px;
    }
        .instrument {
            background: red;
            margin: 0;
            padding: 10px;
            width: 100px;
            border: 1px solid rgba(0, 0, 0, 0.164);
            overflow: hidden;
        }
        .pattern {
            display: flex;
            flex-flow: row;
            align-items: center;
            padding: 1px;
        }
            .step {
                background: rgb(116, 165, 167);
                border: .5px solid rgba(0, 0, 0, 0.137);
                padding: 16px;
            }

            .step[triggered="true"][activated="true"]{
                background: rgb(72, 117, 114);
            }
            .step[triggered="true"][activated="false"]{
                background: rgb(116, 165, 167);
            }
            .step[triggered="false"][activated="true"]{
                background: rgb(75, 100, 122);
            }
            .step[triggered="false"][activated="false"]{
                background: rgb(116, 142, 167);
            }
            .measure{
                display: flex;
                flex-flow: row;
            }
            .signatureSpacer{
                all: unset;
                padding: 5px;
            }